body{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
}

h1{
	font-size : 64px;
}

.board{
	display:grid;
	grid-template-columns: repeat(6,1fr);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.start{
	padding: 10px 20px;
    font-size: 16px;
	z-index: 100;
}

.card{
    width: 120px;
    padding: 3px;
    margin: 10px;
}

.hide{
    display: none;
}

.show{
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup{
    background-image: url('img/fondgagne2.png');
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup p{
    font-size: 24px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

td {
    display: grid;
}

td >*{
    grid-area: 1/1/2/2;
}

td>img:first-child{
    display: block;
}

td>img:last-child{
    display: hidden;
}

td:hover>img:first-child{
    display: hidden;
}

td:hover>img:last-child{
    display: block;
}

.titre {
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.big-dice-svg {
    position: absolute;
    top: 102px;
    right: 102px;
    height:5em;
    width:5em;
    transform: rotate(12deg);
}

.big-dice-svg2 {
    position: absolute;
    top: 91px;
    right: 60px;
    height:5em;
    width:5em;
    transform: rotate(34deg);
}
